<!--The content below is only a placeholder and can be replaced.-->

<p>{{date | date:'mediumDate'}}</p>
<!-- piping to medium date display format -->
<h3> William Peak, Interpoliation Exercise using ng Model </h3>

<h4> Two Field Calculator </h4>

<p>
    <!--   we must use two way binding
            1. [(ngModel)] = "source" is a two-way binding using NgModel directive.
            2.  [(ngModel)] in HTML element where we set a specific element property
                and listen for an element change event
            3. We will use two-way binding with NgModel in text box in our example.
                [(ngModel)] can set only data-bound property.
            4. To use NgModel we need to import FormsModule and add it to imports
               attribute of @NgModule in our module file.
    -->
    <input #numNg type="number" [(ngModel)]="a" (input)="0">
    <!--         using a Reference variable here #ref to re-inforoce class lectured concempt-->
    <input id="operatorNg" class="Center" (click)="resetOperator()" type="string" [(ngModel)]="operator" #operatorTmpRefType>
    <input #numNg type="number" [(ngModel)]="b" (input)="0">
</p>
<table>
    <tr>
        <td>
            <button id="btnngModel" type="button" (click)="calculate(operatorTmpRefType.value)">Calc</button>
        </td>
        <td> Results:
        </td>
        <td> <input class="form-control" type="test" placeholder="Enter value " [(ngModel)]="result">
        </td>
        <td> <input id="divideByZero" class="HideControl" type="test" placeholder="" [(ngModel)]="divideByZeroErrMsg">
        </td>
    </tr>
</table>